body {
	font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
	color: black;
	background-color: white;
	text-align: left;
	font-size: 12px;
	line-height: 16px;
}

#Footer {
  clear: both;
  float: none;
  color: #666;
  margin: 20px 0 10px 0;
  padding: 5px 0px 0px 0px;
  font-size: 10px;
  border-top: 1px solid #dcdcdc;
  text-align: left;
}

img { border: none; }

p {
  font-size: 12px;
  line-height: 16px;
}

h1 {
	font-family: "Lucida Grande", arial, sans-serif;
	padding: 0;
	color: #000066;
	border-bottom: 0;
	margin: 5px auto;
	font-size: 20px;
	font-weight: bold;
}

td { font-family: "Lucida Grande", verdana, arial, helvetica, sans-serif;
          vertical-align: top;
          font-size: 12px; }
          
.odd { background-color: #dcdcdc; }

a { text-decoration: underline; }

a:link { color: #000066; }
a:visited { color: #000066; }
a:hover { color: white;
        background-color: #000066;
        text-decoration: none; }

.columnHead { 
	font-size: 16px;
	font-weight: bold;
}

#tableDisplay {
	margin: 10px 0px 10px 0px;
	padding: 1px;
	border: 1px solid grey;
}

.tableRow {
	border-bottom: 1px dotted grey;
}

.superCatRow {
	background-color: #FFCCCC;
	font-size: 17px;
}

.catRow {
	font-size: 14px;
	background-color: #FFFFCC;
}
	

.tableDocumentation {
	border: 1px solid grey;
	padding: 3px;
}

.attrRow { 
	background-color: #dcdcdc;
}

.superRow {
	background-color: #FFFFCC;
}
