Options +Indexes

## Standard Descriptions
AddDescription "GUS Installation Guide" install
AddDescription "GUS Users' Guide" users
AddDescription "GUS Developer's Guide" developers
AddDescription "Multi-page Documentation" html


AddDescription "GUS 3.5 Release Documentation" 3.5
AddDescription "Older Documentation" older


AddDescription "Chetna's installation guide put together by Chetna Warade at The Kissinger Lab" installguide_UGA.html
AddDescription "Terry's installation guide put together by Terry Clark" installguide_TC.html
AddDescription "UML diagrams (courtesy of Jessica Kissinger)" schemaUML
AddDescription "Fidel and Sucheta's installation guide put together by Fidel Salas, Sucheta Tripathy and Tejal Karkhanis at the Virginia Bioinformtics Institute" vbidoc.pdf

