##
## Sample config file for the InsertGcRMAAssay2Quantification plugin
## $Id: sample_InsertGcRMAAssay2Quantification.cfg 3209 2005-08-03 15:16:47Z svdate $
##

# CONFIG FILE FOR PLUGIN:
# GUS::Community::Plugin::InsertGcRMAAssay2Quantification
#
# Author: Regina Gorski, PCBI, Univ. of Pennsylvania
# Report bugs to: 
# https://www.cbil.upenn.edu/tracker/enter_bug.cgi?product=GUS%20Application%20Framework
#
# (you will need an account to log in to the bug tracker)
#
# Notes:
#
# 1. This config file can only be used to specify files 
#    associated with affymetrix assays.
# 2. lines beginning with '#' are comments, and will not be read 
#    in. blank lines are ignored.
# 3. Use 'null' (without the quotes) to describe missing values.
# 4. DO NOT change the keywords unless you know what you are 
#    doing (then change the properties in the plugin 
#    correspondingly)

# Keywords that are 1 cannot have a value that is 'null'.
# eg: MaxObjectNumber => 0, so MaxObjectNumber=null is okay
# ImageRepositoryPath  => 1, so ImageRepositoryPath=null is not okay

# MaxObjectNumber               => 0, # DataRepositoryPath            => 1,
# ImageRepositoryPath           => 1, # EXPFilePath                   => 1,
# RPTFilePath                   => 0, # CELFilePath                   => 0,
# DATFilePath                   => 0, # gcRMAFilePath                 => 1,
# HybProtocolID                 => 1, # AcqProtocolID                 => 1,
# CelProtocolID                 => 1, # gcRMAProtocolID               => 1,
# HybOperatorID                 => 1, # CelQuantOperatorID            => 1,
# ChpQuantOperatorID            => 1, # StudyID                       => 1,
# ChannelDef                    => 1, # Extensions                    => 1,
# FileTypes                     => 1, # PrependToFluidicsKeyword      => 0,
# AppendToFluidicsKeyword       => 0, # JoinFluidicsKeywordsWithSign  => 0,
# PixelSizeRepresentation       => 1, # FilterRepresentation          => 1,
# NumberOfScansRepresentation   => 1, # BGVersionRepresentation       => 0,
# NormalizeRepresentation       => 1, # FastRepresentation            => 1,
# gcRMAVersionRepresentation    => 1, # KRepresentation               => 0,
# RVersionRepresentation        => 1, # OpticalCorrectRepresentation  => 1,
# RhoRepresentation             => 0, # TypeRepresentation            => 1


# ==========================================================================


# For 'out of memory' errors
# -------------------------
# When the plugin is out of memory, it has created and cached a
# lot of objects. This can be avoided by specifying the maximum
# number of objects that the plugin should retain. Usually, you 
# will not have to specify this value, but if you have to, 
# consider a number like 30000. This should take care of the
# problem.

MaxObjectNumber=null


# Study_ID
# --------
# Eg: StudyID=1390

StudyID=


# FileTypes
# -----------
# Specify the different files associated with this Study
# Eg: FileTypes = EXP;RPT;CEL;DAT;gcRMA;

FileTypes=


# Extensions
# ----------
# use this field to specify the extensions for your files
# for instance, all your gcRMA files may have the extension 'TXT' and not 'txt'
# you would then correspondingly chnage gcRMAFile|txt; to gcRMAFile|TXT;
# Eg: Extensions=EXPFile|EXP;RPTFile|RPT;CELFile|CEL;DATFile|DAT;gcRMAFile|txt;

Extensions=


# File & Repository Paths
# ------------------------
# EXP file names correspond to assay names
# The plugin will always look for EXP files in the data repository
# (indicated by DataRepositoryPath), and DAT files in the image repository
# (indicated by ImageRepositoryPath). Both repositories can be the same.

# Eg: DataRepositoryPath=/files/data/cbil/RAD/
# Eg: ImageRepositoryPath=/files/data/cbil/RAD_images/

DataRepositoryPath=
ImageRepositoryPath=

# Eg: EXPFilePath=SomeDir/AffyChip/data_repository/supplementary_data/

EXPFilePath=
RPTFilePath=
CELFilePath=
DATFilePath=
gcRMAFilePath=


# Fluidics keywords
# -----------------
# Keywords that describe fluidics information in an EXP file are stored in the 
# database in a certain manner (eg: the RAD instance at CBIL stores them as
# 'Fluidics_Keyword'). You can specify if you want to prepend or append anything 
# to the Keyword. Otherwise, you can mark them with 'null'. The 
# 'JoinFluidicsKeywordWithSign' lets you specify a sign you can use to join the 
# words with (eg: hyphen '-', underscore '_')
# Eg: PrependToFluidicsKeyword=Fluidics
# Eg: AppendToFluidicsKeyword=null
# Eg: JoinFluidicsKeywordsWithSign=_

PrependToFluidicsKeyword=
AppendToFluidicsKeyword=
JoinFluidicsKeywordsWithSign=


# Protocol identifiers
# --------------------
HybProtocolID=
AcqProtocolID=
CelProtocolID=
gcRMAProtocolID=


# Operator identifiers
# --------------------
HybOperatorID=
CelQuantOperatorID=
ChpQuantOperatorID=


# Miscellaneous parameters
# ------------------------

# Acquisition params
# Eg: PixelSizeRepresentation=Pixel Size
# Eg: FilterRepresentation=Filter
# Eg: NumberOfScansRepresentation=Number of Scans

PixelSizeRepresentation=
FilterRepresentation=
NumberOfScansRepresentation=


# Quantification params (the values should be from RAD.ProtocolParam.name 
# for the gcRMA quantification protocol)
# Eg: FastRepresentation=
# Eg: OpticalCorrectRepresentation=
# Eg: TypeRepresentation=


BGVersionRepresentation=
NormalizeRepresentation=
FastRepresentation=
gcRMAVersionRepresentation=
KRepresentation=
RVersionRepresentation=
OpticalCorrectRepresentation=
RhoRepresentation=
TypeRepresentation=

# Channel definition (from MGED Ontology)
# Eg: ChannelDef=biotin
ChannelDef=


# _ END CONFIG FILE _
