<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
    </layout>
  </appender>

  <appender name="limpopo-log" class="org.apache.log4j.DailyRollingFileAppender">
    <param name="DatePattern" value="'.'yyyy-MM-dd" />
    <param name="File" value="limpopo.log" />
    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%d %-5p [%t] %C{2} (%F:%L) - %m%n" />
    </layout>
  </appender>

  <logger name="uk.ac.ebi.arrayexpress2.magetab.handler.sdrf.node" additivity="false">
    <level value="TRACE" />
    <appender-ref ref="limpopo-log" />
  </logger>
    
  <logger name="uk.ac.ebi.arrayexpress2.magetab.validator" additivity="false">
    <level value="INFO" />
    <appender-ref ref="limpopo-log" />
  </logger>
    
  <logger name="uk.ac.ebi.arrayexpress2.magetab.parser" additivity="false">
    <level value="DEBUG" />
    <appender-ref ref="limpopo-log" />
  </logger>
    
  <logger name="uk.ac.ebi.arrayexpress2.magetab.handler.sdrf" additivity="false">
    <level value="WARN" />
    <appender-ref ref="limpopo-log" />
  </logger>
  
  <logger name="edu.upenn.cbil.magetab.Converter" additivity="false">
    <level value="ERROR" />
    <appender-ref ref="console" />
  </logger>
    
  <logger name="edu.upenn.cbil.magetab" additivity="false">
    <level value="WARN" />
    <appender-ref ref="limpopo-log" />
  </logger>
    
  <logger name="edu.upenn.cbil.limpopo" additivity="false">
    <level value="WARN" />
    <appender-ref ref="limpopo-log" />
  </logger>

  <root>
    <priority value="INFO" />
    <appender-ref ref="limpopo-log" />
  </root>

</log4j:configuration>
